body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
  
header{
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}
  
h1 {
    color: #333;
}
  
h2{
    color: #666;
}
  
ul{
    list-style-type: none;
    padding: 0;
}
  
li{
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
  
section{
    padding: 20px;
}
.code-boxes-container{
    display: flex;
    flex-wrap: wrap;
}

.code-box {
    background-color: #232323;
    color: #fff;
    flex: 1 1 45%;
    margin-right: 2.5%;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
}

.code-box:nth-child(2n) {
    margin-right: 0;
}