body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
  font-weight: 750;
}

h2 {
  color: #666;
}

ul {
  list-style-type: none;
  padding: 0;
}

li, a {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

section {
  padding: 20px;
}

#my-lifestory p {
  font-size: 1.4em;
}

@media (min-width: 1140px) {
  .code-boxes-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    overflow-x: auto;
  }

  .code-box {
    flex: 1;
    overflow-x: hidden;
    background-color: #232323;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  a {
    text-decoration: none;
    color: #9e9e9e;
  }
}

.code-box pre {
  white-space: pre-wrap;
  flex: none;
}

.button-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 10px;
  margin-bottom: 20px;
}

.button {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  flex: 1;
  box-sizing: border-box;
}

.code-box {
  background-color: #232323;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.button:hover {
  opacity: .75;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
  .button {
    flex: 1 1 100%;
  }
}

.plus-minus {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

table {
  border-collapse: collapse;
  width: 60%; 
  margin: 0 auto;
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

section.ostatni-codeboxy .code-box{
  width: fit-content;
}